[Desktop Entry]
Type=Service
MimeType=text/x-tex;
Actions=ReplaceLatexTags

[Desktop Action ReplaceLatexTags]
Name=Replace old maths tags by new math tags
Icon=kedit
Exec=/your path/script.sh %f
